* 
{
       margin: 0;
       padding: 0;
}

header
{	
	max-width: 1694px;
	display: flex;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        justify-content: space-between;
}

.header__logo
{
        max-width: 165px;
}

.header__nav-bar
{
	display: flex;
	flex-grow: 1;
        max-width: 815px;
	justify-content: space-between;  
}

.header__links
{
        max-width: 550px;
	font: normal 500 16px/0.8 'Montserrat';
	color: #000;
	display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;	
}

.header__text
{
	text-decoration: none;
	color: #000;
}

.button-register
{
	background: #05090c;
	border-radius: 5px;
	font: normal 600 16px/1 'Montserrat';
	color: #fff;	
        text-align: center;
        line-height: 55px;
        text-decoration: none;
        border: none;
        width: 247px;
}

main
{
        margin-bottom: 259px;
}

.top
{
	display: flex;
        justify-content: flex-end;
        max-width: 1608px;
        margin: 0 auto;
        margin-bottom: 58px;

}

.top__info
{
        max-width: 745px;
	padding-top: 146px;
        margin-right: 46px;
}

.top__title
{
	margin-top: 67px;
        margin-bottom: 41px;
	font: normal 600 100px/0.82 'Montserrat';
	color: #000;
        
}

.top__text
{
        margin-bottom: 46px;
        max-width: 545px;
	font: normal 400 26px/1.2 'Roboto Condensed';
	color: rgba(0, 0, 0, 0.7);
}

.text_color
{
	color: #ee58b6;
}

.short-description
{
	display: flex;
	background: #000;
	justify-content: center;
        margin-bottom: 187px;
}

.short-descritpion__content
{	
	margin-bottom: 153px;
	max-width: 1200px;
	margin-top: 111px;
	display: flex;
        flex-grow: 1;
        justify-content: space-between;
}

.short-description_text
{
	font: normal 400 22px/1.2 'Roboto Condensed';
	color: #fff;
	margin-top: 21px;
	text-align: center;
}

.short-description__tile
{
        max-width: 337px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.short-description__time
{
        max-width: 303px;
}

.short-description__image
{ 
	max-width: 60px;
}

.blog
{
        margin-bottom: 136px;
}

.blog__creation
{	
	max-width: 1176px;
        margin: 0 auto;
	display: flex;
        margin-bottom: 78px;
}

.blog__finances_image
{
	margin-right: 108px;
	max-width: 538px;
	max-height: 361px;
}

.finances_content
{
	margin-top: 122px;
}

.blog__deadline
{
	max-width: 1118px;
        margin: 0 auto;
	display: flex;
}

.blog__blowing_image
{
	max-width: 377px;
	max-height: 620px;
}

.deadline_content
{
	margin-top: 262px;
	margin-right: 171px;
}

.blog__title
{
	font: normal 500 48px/38px 'Montserrat';
	color: #000;	
}
.blog__text
{
	margin-top: 37px;
	max-width: 574px;
	font: normal 400 18px/24px 'Roboto Condensed';
	color: rgba(0, 0, 0, 0.7);
}

.about-course
{
        margin: 0 auto;
	max-width: 1135px;
}

.about-course-tiles
{
	display: flex;
	flex-wrap: wrap;
        justify-content: space-between;
}

.about-course-box:nth-child(3n)
{
        margin-right: 0px;
}

.about-course__title
{	
	font: normal 500 48px/59px 'Montserrat';
	text-align: center;
	color: #000;
        margin-bottom: 58px;
}

.about-course-box
{
	margin-bottom: 30px;
        margin-right: 30px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	max-width: 358px;
	background: #000;
	border-radius: 7px;	
}

.about-course__text
{	
	padding-bottom: 45px;
	font: normal 400 18px/21px 'Roboto Condensed';
	color: #fff;
	margin-top: 22px;
	margin-left: 40px;
	max-width: 270px;
}

.sixth-step-text
{
	margin-top: 21px;
	margin-left: 39px;
	max-width: 286px;
}

.about-course__images
{
	margin-top: 35px;
	margin-left: 40px;
}

.image_first
{
	max-width: 37px;
}

.image_second
{
	max-width: 35px;
}

.image_third
{
	max-width: 45px;
}

.image_fourth
{
	max-width: 40px;
}

.image_fifth
{
	max-width: 50px;
}

.image_sixth
{
	max-width: 35px;
}

footer
{
	display: flex;
        justify-content: center;
	align-items: center;
	background: #000;	
}

.footer__image
{
        max-width: 203px;
        padding: 30px 0;
}

.top__image
{
    max-width: 835px;
}

/* Adaptivity */

@media screen and (min-width: 320px)
{
    header
    {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .header__logo 
    {
        width: 40%;
        margin-bottom: 30px;
    }

    .header__nav-bar 
    {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header__links 
    {
        font-size: 13px;
        width: 100%;
        margin-bottom: 20px;
    }

    .button-register 
    {
        font-size: 13px;
        line-height: 40px;
    }

    .top
    {
        flex-direction: column;
        align-items: center;
        width: 90%; 
    }

    .top__info 
    {
        padding-top: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__title 
    {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 40px;
    }
    .top__text
    {
        font-size: 15px;
        margin-bottom: 23px;
        text-align: center;
    }

    .top__image
    {
        width: 90%;
    }

    .short-descritpion__content 
    {
        margin-top: 50px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }

    .short-description_text 
    {
        font-size: 15px;
    }
    
    .short-description__tile 
    {
        width: 90%;
        margin-bottom: 30px;
    }

    .short-description__image 
    {
        width: 16%;
    }

    .short-description 
    {
        margin-bottom: 70px;
    }

    .blog__creation 
    {
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-bottom: 40px;
    }

    .blog__finances_image 
    {
        margin-right: 0px;
        width: 75%;
    }

    .finances_content 
    {
        margin-top: 10px;
    }

    .blog__title 
    {
        font-size: 24px;
        text-align: center;
    }

    .blog__text 
    {
        margin-top: 10px;
        font-size: 15px;
        text-align: center;
    }

   .blog__deadline 
   {
        flex-direction: column-reverse;
        align-items: center;
        width: 80%;
   }

    .blog__blowing_image 
    {
         width: 60%;
    }

    .deadline_content 
    {
        margin-top: 10px;
        margin-right: 0px;
    }

    .blog 
    {
        margin-bottom: 40px;
    }
    
    .about-course__title 
    {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .about-course-tiles 
    {
        flex-direction: column;
        align-items: center;
    }

    .about-course-box 
    {
        margin-bottom: 20px;
        margin-right: 0px;
        width: 90%;
    }

    .about-course__text 
    {
        font-size: 15px;
        width: 85%;
    }

    main 
    {
        margin-bottom: 200px;
    }

    .footer__image
    {
        width: 35%;
        padding: 15px 0;
    }
}

@media screen and (min-width: 768px)
{
    .header__links 
    {
        font-size: 16px;
    }

    .button-register 
    {
        font-size: 16px;
        line-height: 55px;
    }

    .top__title 
    {
        font-size: 70px;
    }

    .top__text 
    {
        font-size: 18px;
    }

    .short-description__image 
    {
        width: 100%;
    }

    .short-description_text 
    {
        font-size: 18px;
    }

    .blog__title 
    {
        font-size: 35px;
    }

    .blog__text 
    {
        font-size: 18px;
    }

    .about-course__title 
    {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .about-course__text 
    {
        font-size: 18px;
        width: 100%;
    }

    .about-course 
    {
        max-width: 722px;
    }

    .about-course-tiles 
    {
        flex-direction: row;
    }

    .about-course-box 
    {
        margin-bottom: 6px;
    }

    .footer__image 
    {
        width: unset;
    }

}

@media screen and (min-width: 1024px)
{
    .header__nav-bar 
    {
        flex-direction: row;
    }

    .header__links 
    {
        max-width: 469px;
        margin-bottom: 0px;
    }

    .top 
    {
        flex-direction: row;
    }

    .top__image 
    {
        width: 60%;
    }

    .top__info 
    {
        align-items: start;
    }

    .top__title 
    {
        font-size: 52px;
    }

    .top__text 
    {
        text-align: start;
    }

    .short-descritpion__content 
    {
        flex-direction: row;
        max-width: 925px;
        margin-top: 111px;
        margin-bottom: 153px;
    }

    .short-description__tile 
    {
        width: 100%;
        margin-bottom: 0px;
    }

    .blog__creation 
    {
        flex-direction: row;
    }

    .blog__title 
    {
        text-align: start;
    }

    .blog__text 
    {
        text-align: start;
    }

    .blog__finances_image 
    {
        margin-right: 30px;
        width: unset;
    }

    .blog__blowing_image 
    {
        width: unset;
    }

    .blog__deadline 
    {
        flex-direction: row;
    }

    .finances_content 
    {
        align-items: start;
    }

    .deadline_content 
    {
        align-items: start;
    }

    .about-course 
    {
        max-width: 747px;
    }

    .about-course-box 
    {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1366px)
{
    header 
    {
        flex-direction: row;
    }

    .header__logo 
    {
        width: 100%;
        margin-bottom: 0px;
    }

    .top__text 
    {
        font-size: 20px;
    }

    .short-description_text 
    {
        font-size: 22px;
    }

    .blog__title 
    {
        font-size: 40px;
    }

    .about-course__title 
    {
        font-size: 40px;
    }

    .short-descritpion__content 
    {
        max-width: 1161px;
    }

    .deadline_content 
    {
        margin-right: 50px;
    }

    .about-course 
    {
        max-width: 1135px;
    }

    .about-course-tiles 
    {
        align-items: unset;
    }

    .about-course-box 
    {
        margin-right: 30px;
    }
}

@media screen and (min-width: 1600px)
{
    .top__title 
    {
        font-size: 85px;
        margin-bottom: 41px;
    }

    .top 
    {
        width: 95%;
    }

    .top__info 
    {
        margin-right: 46px;
        padding-top: 24px;
    }

    .top__text 
    {
        font-size: 26px;
        margin-bottom: 46px;
    }

    .short-description 
    {
        margin-bottom: 187px;
    }

    .blog__title 
    {
        font-size: 48px;
    }

    .blog__finances_image 
    {
        margin-right: 108px;
    }

    .deadline_content 
    {
        margin-right: 171px;
    }

    .blog__text 
    {
        margin-top: 37px;
    }

    .finances_content 
    {
        margin-top: 122px;
    }

    .blog__creation 
    {
        align-items: unset;
        margin-bottom: 78px;
    }

    .about-course__title 
    {
        font-size: 48px;
        margin-bottom: 58px;
    }

    .blog 
    {
        margin-bottom: 136px;
    }

    main 
    {
        margin-bottom: 259px;
    }

    .top__button
    {
	width: 332px;
        border: none;
    }
}

@media screen and (min-width: 1661px)
{
    .top__title 
    {
        font-size: 100px;
        margin-bottom: 41px;
    }
}